/* DiscountAction styles imported from main CSS */


.video-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .video-modal {
    background: #000;
    padding: 10px;
    width: 80%;
    max-width: 750px;
    border-radius: 10px;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #fff;
    color: #000;
    border: none;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    line-height: 35px;
  }
  